<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648823845350-f84ua58n0b99pg6np0vo7695ap5ctorc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648823845350-f84ua58n0b99pg6np0vo7695ap5ctorc</string>
	<key>API_KEY</key>
	<string>AIzaSyAEHKRGDW3G5w3kbArncUMdv9KXqwe8nSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>648823845350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cod3r.chat</string>
	<key>PROJECT_ID</key>
	<string>cod3r-chat-b49a6</string>
	<key>STORAGE_BUCKET</key>
	<string>cod3r-chat-b49a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648823845350:ios:5aaf7f167339a0f90ba627</string>
</dict>
</plist>